modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["eas-cli"]

[userenv]

[userenv.shared]
REVENUECAT_PROJECT_ID = "projc48983a9"
REVENUECAT_TEST_STORE_APP_ID = "appdd8e47ffe4"
REVENUECAT_APPLE_APP_STORE_APP_ID = "app60e0dbdee0"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app952021177c"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_EHaskHzVRnVFADYOpdjBFYxZtPU"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_NHAeKRQcPBPPCHuPTtknVkBSKoU"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_NLzwMTSLVJkDnNREaGXhQgtBPVZ"
ADMIN_JWT_SECRET = "lMuenV2uOsO8mh5upcwclnsZoYGHV1vugJvhhCwFsxDexta2Bu-BrPMiOO2oHHk8"
