modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["eas-cli"]

[userenv]

[userenv.shared]
REVENUECAT_PROJECT_ID = "projae197094"
REVENUECAT_TEST_STORE_APP_ID = "appda86a73f1a"
REVENUECAT_APPLE_APP_STORE_APP_ID = "app04cc3ac658"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_NpbxUUJoJudMdUxALbNRtPEVkjD"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_VyhAmjuUAnTtmpXrGBkRrmfKEWQ"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_ooNOODiUZCkYXUFSBbDimjbtSHL"
ADMIN_JWT_SECRET = "lMuenV2uOsO8mh5upcwclnsZoYGHV1vugJvhhCwFsxDexta2Bu-BrPMiOO2oHHk8"
RESEND_FROM = "Msafiri Kenya <noreply@msafirikenya.com>"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "appd3493629e8"

[objectStorage]
defaultBucketID = "replit-objstore-c52237a7-860b-4963-bc52-c54263801a9a"
